/*RESET*/
html, body, .wrapper {
    margin: 0;
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, p, a {
    margin: 0;
}

/*HIDDEN*/
.hidden {
    visibility: hidden;
    display: none;
}

.active {
    background: yellow;
}

/*
* MAIN BODY STYLE
*/
/*BACKGROUND*/
.wrapper {
    background-color: #2F2F2F;
    border-color: #8E8A67;
    border-radius: 1px;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 20px;
}

/*MAINBODY*/
.mainbody {
    margin-left: 13px;
    margin-top: 10px;
}

/*HEADER*/
.heading {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.title {
    display: inline-block;
}

#title {
    color: #D1D1D1;
    display: inline-block;
}

#menu {
    display: inline-block;
    float: right;
    margin-right: 10px;
    -webkit-app-region: no-drag;
}

#exit, #exitAbout, #exitUpdate {
    display: inline-block;
    height: 20px;
    width: 20px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

#dropdownmenu {
    display: inline-block;
    font-size: 20px;
    color: #D1D1D1;
    vertical-align: bottom;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.dropdownmenu {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

/*MENU ITEMS*/
.menuitems {
    border: 1px solid gray;
    display: inline-block;
    position: fixed;
    right: 0;
    top: 35px;
    background-color: #2F2F2F;
}

.menuitems ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuitems ul li {
    cursor: pointer;
    padding: 3px 10px;
}

.menuitems ul li:hover {
    background-color: #414141;
}

.menuitems ul li p {
    color: #D1D1D1;
}

/*BREAK*/
.split {
    color: #1C1C1A;
    width: 98%;
    height: 2px;
    display: block;
    border: 1px inset rgb(120, 125, 119);
    margin: 0 auto;
    margin-top: 3px;
    margin-bottom: 5px;
}

/*INPUT AREA*/
textarea {
    color: #FFFFFF;
    resize: none;
    background-color: #515151;
}

/*BUTTONS*/
button {
    color: #D1D1D1;
    background: linear-gradient(#717171, #3D3D3D);
    height: 20px;
    width: 150px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}
button:active {
    outline: none;
}
button:focus {
    outline: none;
}

button:hover {
    background: linear-gradient(#7e7c7c, #3D3D3D);
    color: rgb(221, 221, 221);
}

.buttons {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

/*ABOUT*/
.about p {
    color: #D1D1D1;
}

.about ul {
    list-style: none;
}

.about li {
    margin-top: 10px;
}

.about a {
    color: #D1D1D1;
    text-decoration: underline;
}

.about a:hover {
    color: rgb(221, 221, 221);
}

.about h4 {
    color: #D1D1D1;
}
